//colors
$primary: #26A69A;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$light-gray: #EEE;

// header variables
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$large-screen: em(860) !default;
$navigation-padding: 1em;
$navigation-background: darken($primary, 15%);
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-height: 60px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;

// form variables


@mixin btn {
  display: inline-block;
  color: $light-gray;
  background-color: tint($primary, 5%);
  border-radius: $base-border-radius;
  padding: 12px 18px;
  text-decoration: none;
  margin-right: 10px;
}
