@import '_normalize';
@import 'bourbon';
@import 'neat';
@import '_variables';
@import '_layout';
@import '_header';

body {
  background-color: $light-gray;
  color: $dark-gray;
  font-family: $helvetica;
}

.container {
  @include outer-container;
}
