@import '_normalize';
@import '_animate';
@import 'bourbon';
@import 'neat';
@import '_variables';
@import '_layout';
@import '_header';

// Base styles
body {
  background-color: $light-gray;
  color: lighten($dark-gray, 10%);
  font-family: $helvetica;
}

.container {
  @include outer-container;
  padding-top: 50px;
  padding-bottom: 50px;
}

.center {
  @include span-columns(8);
  @include shift(2);
}

input[type=text], input[type=password] {
  margin-bottom: 20px;
  @include size(100% 40px);
  padding-left: 10px;
}

input[type=submit] {
  border: none;
  outline: none;
}

label {
  display: block;
  padding-bottom: 10px;
}

.btn {
  @include btn;
  transition: background-color .4s;
  &:hover {
    background-color: darken($primary, 15%);
  }
}

// Home styles

.tagline {
  float: none;
  font-size: 52px;
  font-weight: normal;
  font-family: 'Courgette', cursive;
  text-align: center;
}

.events {
  position: relative;
  list-style: none;
  padding: 0;
  height: 100px;
  margin: 0 auto;

  .emoji {
    font-size: 40px;

    span {
      margin-right: 8px;
    }
  }

  li {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
  }

} // end to .events

.signup_buttons {
  text-align: center;
}

// Login and Signup Pages
.center_form {
  @include span-columns(4);
  @include shift(4);

  h2 {
    text-align: center;
  }
}






