header.navigation(role='banner')
      .navigation-wrapper
        a.logo(href='../')
          img(src='/img/giftr_logo.png', alt='Logo Image')
        a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
        nav(role='navigation')
          ul#js-navigation-menu.navigation-menu.show
            if (currentUser)
              li.nav-link
                a(href='/gifts/') Find Gifts
              li.nav-link.more
                a(href='javascript:void(0)')= currentUser.local.email
                ul.submenu
                  li
                    - if (currentUser.permission === 'admin')
                      a(href='/users') Admin
                  li
                    a(href='/users/' + currentUser.id) Profile
                  li
                    a(href='/logout') Logout
            else
              li.nav-link
                a(href='/signup') Sign Up
              li.nav-link
                a(href='/login') Log In


.flash
- if (typeof message !== 'undefined') {
  - if (typeof message.error !== 'undefined' && message.error.length > 0) {
    div.flash-error= message.error
  - }
  - if (typeof message.info !== 'undefined' && message.info.length > 0) {
    div.flash-notice= message.info
  - }
  -if (typeof message.success !== 'undefined' && message.success.length > 0) {
    div.flash-success= message.success
  - }
- }




