header.navigation(role='banner')
      .navigation-wrapper
        a.logo(href='javascript:void(0)')
          img(src='img/giftr_logo.png', alt='Logo Image')
        a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
        nav(role='navigation')
          ul#js-navigation-menu.navigation-menu.show
            if (currentUser)
              li.nav-link.more
                a(href='javascript:void(0)')= currentUser.local.email
                ul.submenu
                  li
                    a(href='#') Profile
                  li
                    a(href='/logout') Logout
            else
              li.nav-link
                a(href='/signup') Sign In
              li.nav-link
                a(href='/login') Log In
