block content
  h2 Sign Up
  form(method="post", action="/signup")
    label(for="email") Email
    input(type="text", name="email", id="email")

    label(for="password") Password
    input(type="password", name="password", id="password")

    input(type="submit")
