extends ../layout

block content
  #profile_form
    h2 Edit Profile
    form(method="post", action="/users/" + user.id + "?_method=PATCH")
          .form_group
            label(for="userName") Username
            input(type="text", name="userName", id="userName", value=user.userName)

          .form_group
            label(for="email") Email
            input(type="email", name="email", id="email", value=user.local.email)

          .form_group
            label(for="password") Password
            input(type="password", name="password", id="password")

          .form_group
            label(for="location") Location
            input(type="text", name="location", id="location", value=user.location)

          .form_group
            label(for="image") Profile Image
            input(type="text", name="image", id="image", value=user.image)

          .form_group
            label(for="permission") Permission
            - var permission = user.permission
            input(type="radio", name="permission", value="admin", checked= permission==="admin"? 'checked' : null)
            | Admin
            input(type="radio", name="permission", value="user", checked= permission==="user"? 'checked' : null)
            | User

          .form_group
            input(type="submit", class="btn" value="Save")
            a(href="/users/" + user.id, class="btn") Back

//- name
//- email
//- password
//- permission
