extends ../layout

block content

  form(method="post", action="/users/" + user.id + "?_method=PATCH")
        .form_group
          label(for="username") Username
          input(type="text", name="username", id="username", value=user.local.userName)

        .form_group
          label(for="email") Email
          input(type="email", name="email", id="email", value=user.local.email)

        .form_group
          label(for="password") Password
          input(type="password", name="password", id="password")
        .form_group
          label(for="permission") Permission
          - var permission = user.permission
          input(type="radio", name="permission", value="admin", checked= permission==="admin"? 'checked' : null)
          | Admin
          input(type="radio", name="permission", value="user", checked= permission==="user"? 'checked' : null)
          | User
        .form_group
          input(type="submit", class="btn" value="Save")

//- name
//- email
//- password
//- permission
