extends ../layout
block content
  h1.inline= user.id === currentUser.id?"Your Profile":(user.local.email + "'s Profile")
  - if (user.id === currentUser.id || currentUser.permission === 'admin')
      a(href= "/users/" + user.id + "/edit", class="option-btn") Edit
  br
  .profile_info
    - if (user.image)
    img(src=user.image, class="profile_img")
    - else
      img(src="/img/shopping-bag-placeholder.png", class="profile_img")
    p <strong>Email:</strong>
      = ' ' + user.local.email
    p <strong>Username:</strong>
     = ' ' + user.userName
    p <strong>Location:</strong>
     = ' ' + user.location
  #gifts_container
    .img_row
      h3.section_title Favorite Gifts
      -for(i=0;i < 5 && i < favorites.length; i++)
        .gift
          a(href="/gifts/" + favorites[favorites.length - 1 - i].id)
            .gift_info
              img(src=favorites[favorites.length - 1 - i].imageUrl)
              p(class="gift_name")
                = favorites[favorites.length - 1 - i].name
              p(class="gift_price")
                = "$" + favorites[favorites.length - 1 - i].price + ".00"
          //- a(class="fav_btn") Remove
    h3.section_title Recent Results
    .gift_results


