extends ../layout.jade

block content
  section#gift_search
    form(method="get", action="/gifts/", id="search")
      .form_group
        label(for="recipientType", class="inline") Relationship:
        .radio
          input(type="radio", value="friend", name="recipientType")
          | Friend
        .radio
          input(type="radio", value="family", name="recipientType")
          | Family
        .radio
          input(type="radio", value="SO", name="recipientType")
          | Lover
      .form_group
        label(for="Gender", class="inline") Gender:
        .radio
          input(type="radio", value="men", name="gender")
          | Male
        .radio
          input(type="radio", value="women", name="gender")
          | Female
      .form_group
        label(for="age", class="inline") Age:
        input(type="number", name="age", id="age", min="0", max="100")
      .form_group
        label(for="minPrice", class="inline") Price:
        input(type="number", name="minPrice", id="minPrice", placeholder="Min", min="0", max="1000000")
        input(type="number", name="maxPrice", id="maxPrice", placeholder="Max", min="0", max="1000000")
      .form_group

        .label Tags:
        br
        .cat_checkboxes
          .check_column.first
            .checkbox
              input(type="checkbox", value="accessories", name="categories")
              | Accessories
            .checkbox
              input(type="checkbox", value="electronics", name="categories")
              | Electronics
            .checkbox
              input(type="checkbox", value="food and drink", name="categories")
              | Food and Drink
            .checkbox
              input(type="checkbox", value="games", name="categories")
              | Games
          .check_column.second
            .checkbox
              input(type="checkbox", value="garden", name="categories")
              | Garden
            .checkbox
              input(type="checkbox", value="home", name="categories")
              | Home
            .checkbox
              input(type="checkbox", value="luggage and travel gear", name="categories")
              | Travel Gear
            .checkbox
              input(type="checkbox", value="sports", name="categories")
              | Sports
      input(type="submit", value="Find Gift", class="btn", id="find_gift")
      br
  #gifts_container
    .img_row

  //- ul
  //-   -each gift in gifts
  //-     li
  //-       h1= gift.name
  //-       h1= gift.id
