extends ../layout.jade

block content

  h2 <strong>#{gift.name}</strong>
  p click on image to purchase
  div#gift_image
    a(href='#{gift.link}')
     img( src= "#{gift.imageUrl}" )

  p #{gift.description}



