extends ../layout.jade

block content

  h2#gift_name <strong>#{gift.name}</strong>
    p click image to begin purchase process
  div#gift_image
    a(href='#{gift.link}')
     img( src= "#{gift.imageUrl}" )

  p#gift_description #{gift.description}



